.innocode-block-accordion-item {

	&__header {
		cursor: default;
	}

	&__title {

		.editor-styles-wrapper & {
			margin: 0;
		}
	}

	&__button {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&__content {
		padding-top: 1em;
		padding-bottom: 1em;
		max-height: none;
	}
}
