@import "common";

.innocode-block-accordion {

	&_item {
		margin: 20px 0;
	}

	&__content {
		margin-top: 20px;
		margin-bottom: 0 !important;
	}

	&__button {
		top: 0;
	}

	&__link {

		// stylelint-disable-next-line
		& + .innocode-block-accordion__input + .innocode-block-accordion__label {

			// stylelint-disable-next-line
			.innocode-block-accordion__button {
				top: -15px;
			}
		}
	}
}
